.banner-section {
  position: relative;
  object-fit: cover;
}

.hammock-title {
  position: absolute;
  inset: 0;
  z-index: 1;
  padding-left: 30px;
}

.hammock-section {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    105deg,
    #1f1e1e 1.13%,
    rgba(217, 217, 217, 0) 90.84%
  );
}

.hammock-tagline {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
